@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --hover: #51A2FF;/*400*/
  --hover-dark: #155DFC;/*600*/
  --hover-light: #2B7FFF;/*500*/
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-out;
}

.input { @apply w-full bg-gray-50 px-3 py-2 rounded text-sm; }
.btn-sm { @apply bg-indigo-600 text-white text-sm px-3 py-1.5 rounded flex gap-2; }
.icon-btn { @apply bg-gray-100 p-2 rounded; }
.icon-btn-red { @apply bg-red-100 text-red-600 p-2 rounded; }
.save-btn { @apply bg-green-600 text-white text-sm px-8 py-2 rounded flex gap-2; }

@keyframes scan {
  0% { top: 0%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}


/* @media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #242424;
  }
} */
